/* =========================================================
   ESCENA 1
========================================================= */

.escena-1 {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: #000;
}


/* =========================================================
   CONTENEDOR DEL ESCENARIO
========================================================= */

.escena-1-contenido {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}


/* =========================================================
   FONDO DE LA CUEVA
========================================================= */

.escena-1-fondo {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  display: block;

  z-index: 1;
}


/* =========================================================
   FUEGO
========================================================= */

.escena-1-fuego {
  position: absolute;



  left: 30%;
  bottom: 57%;

  width: 3.2%;

  height: auto;

  z-index: 5;

  display: block;

  transform-origin: center bottom;

  animation:
    fuegoVivo 0.8s ease-in-out infinite alternate;
}


/* =========================================================
   ANIMACIÓN DEL FUEGO
========================================================= */

@keyframes fuegoVivo {

  0% {
    transform:
      scale(1)
      rotate(-1deg);
  }

  50% {
    transform:
      scale(1.04)
      rotate(1deg);
  }

  100% {
    transform:
      scale(0.97)
      rotate(-1deg);
  }

}


/* =========================================================
   ESCENA 2
========================================================= */

.escena-2 {
    position: absolute;

    width: 100%;
    height: 100%;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========================================================
   CONTENEDOR DEL ESCENARIO
========================================================= */

.escena-2-contenido {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}


/* =========================================================
   FONDO DE ATENAS
========================================================= */

.escena-2-fondo {
    width: 100%;
    height: 116%;

    

    object-fit: contain;
    object-position: center;

    display: block;

    z-index: 1;
    background-color: #4FBAF4;
}


/* =========================================================
   ÁRBOL 1
========================================================= */

.escena-2-arbol-1 {
    position: absolute;
    left: 94%;
    bottom: 152px;
    width: 8%;
    height: auto;
    z-index: 3;
    display: block;
}


/* =========================================================
   ÁRBOL 2
========================================================= */

.escena-2-arbol-2 {
    position: absolute;
    left: 89%;
    bottom: 246px;
    width: 8%;
    height: auto;
    z-index: 3;
    display: block;
}


/* =========================================================
   ARBUSTO 1
========================================================= */

.escena-2-arbusto-1 {
    position: absolute;
    left: 87%;
    bottom: 25%;
    width: 12%;
    height: auto;
    z-index: 4;
    display: block;
}


/* =========================================================
   ARBUSTO 2
========================================================= */
.escena-2-arbusto-2 {
    position: absolute;
    left: 42%;
    bottom: 26%;
    width: 9%;
    height: auto;
    z-index: 4;
    display: block;
}

/* =========================================================
   ARBUSTO 3
========================================================= */

.escena-2-arbusto-3 {
    position: absolute;
    left: 21%;
    bottom: 28%;
    width: 12%;
    height: auto;
    z-index: 4;
    display: block;
}


/* =========================================================
   ESCENA 3
========================================================= */

.escena-3 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* =========================================================
   CONTENEDOR DE LA ESCENA
========================================================= */

.escena-3-contenido {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* =========================================================
   FONDO DEL ÁGORA
========================================================= */

.escena-3-fondo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  display: block;

  z-index: 1;
}